<section class="dashboard-table">
	<div class="table-content animated zoomIn">
		<div class="table-heading">
			<span>Topics</span>
		</div>
		<table class="table table-hover topic-table">
			<thead class="table-header">
				<tr>
					<th>No:</th>
					<th>Title</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="topic in discussionTopics">
					<th scope="row">{{$index+1}}</th>
					<td>
						<a href="/#/topic:{{topic.id}}" class="topic-details">
							<h4>{{topic.title}}</h4>
							<span><b class="text-form">{{topic.user}}</b>
								<span class="topic-date">{{topic.date}}</span>
							</span>
							<p>{{topic.description}}</p>
						</a>
					</td>
					<td class="fs-22"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i>{{topic.comment.length}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h3 class="dashboard-warning" ng-if="mockData">This is mock data to start adding comments, create a discussion topic</h3>
</section>